body {
    padding: 20px;
}

cite {
    letter-spacing: 1px;
    border-bottom: 1px dotted grey;
}
a:hover cite { border: none; }

section {
    margin-top: 60px;
}

p {
    line-height: 26px;
    text-align: justify;
}

div.container {
    width: 740px;
}

.code-preview {
    margin-bottom: 24px;
}

pre.prettyprint {
    display: block;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}

#title {
    margin-bottom: 16px;
    position: relative;
}

#title h1 {
    display: inline;
}

#links {
    position: absolute;
    right: 0;
    top: 14px;
}