body {
    padding: 20px;
}

cite {
    font-family: Consolas, "Courier New", monospace;
}

section {
    margin-top: 60px;
}

p {
    text-align: justify;
}

.code-preview {
    margin-bottom: 24px;
}

pre.prettyprint {
    display: block;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}

#title {
    margin-bottom: 16px;
    position: relative;
}

#title h1 {
    display: inline;
}

#links {
    position: absolute;
    right: 0;
    top: 14px;
}