body {
    padding: 20px;
}

cite {
    font-family: Consolas, "Courier New", monospace;
}

section {
    margin-top: 60px;
}

.code-preview {
    margin-bottom: 24px;
}

pre.prettyprint {
    display: block;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}