@( level: Int, name: String, repository: String, library: String, sample: String, documentation: String )

@p {
	I love the @cite{ Play Framework }. And I also love how beatuiful its views can be with plain old @cite{ HTML }
	and some @cite{ Scala } variables here and there. But no later than when it comes to build up some @cite{ Twitter
	Bootstrap } forms the drawbacks are inevitable. The views suddenly become a varied mixture of @cite{ HTML } and
	some way too inflexible field constructors. This module is my approach to create consistent and beautiful views with
	the @cite{ Play Framework }.
}