@()

@import views.features.button.code._

<h4>Basics</h4>

<p>
	To create a button you have to provide a label (may be <code>None</code>) and a <code>String</code> URL as a target.
	Alternatively you may pass a <code>Call</code> from your router as an URL (and you are highly encouraged to do this
	whenever possible) but then you need to make sure that the implicit conversion
	<code>com.taig.bootstrapper.Template.callToString</code> is in your view's scope. All further parameters are optional.
</p>

@Basics

<p>
	The <code>Style</code>, <code>Size</code> and <code>Icon</code> objects are named like the respective classes in
	<a href="http://twitter.github.io/bootstrap/base-css.html#buttons">Twitter Bootstrap</a>. Parameters that expect an
	<code>Option</code> type (in this case label and icon) are backed up by implicit conversions to simplify a button's
	instantiation.
</p>

@BasicExamples

<p>
	If you pass a <code>String</code> like <code>"tag"</code> or <code>"heart"</code> as icon parameter the icon's color
	(black or white) will be chosen automatically according to the button's style.
</p>

@Colors

<h4>Common Use Cases</h4>

<div class="alert alert-info">
	The labels on the common use case buttons support Play's internationalization tools. Have a look at the
	<a href="https://github.com/Taig/Play-Bootstrapper/tree/master/src/conf">configuration files</a> to add your
	project's language.
</div>

@CommonUseCases

<h4>Not So Common Use Cases</h4>

@UncommonUseCases