@( library: String, sample: String, documentation: String )

@import features.{button, form}

<p>
	All templating features aim to provide maximum flexibility to allow for a widget to enter all possible states
	that are supported by Twitter Bootstrap. If you find yourself in a situation where the module's behavior doesn't
	measure up your expectations it should be fairly simple to extend its functionality after having a look at the
	source. (Please make sure to send me a pull request if you improve something). Furthermore there are plenty of
	common use case widgets (e.g. a cancel button) to keep method signatures short and simple whenever possible.
</p>

<h3>Buttons</h3>
@button.index( library, sample, documentation )

<h3>Forms</h3>
@form.index( library, sample, documentation )

<h3>Form Elements</h3>
@form.element.index( library, sample, documentation )