@()

@import com.taig.bootstrapper.Template.Button

<!DOCTYPE html>

<html>
	<head>
		<title>Play Bootstrapper</title>

		<link rel="stylesheet" href="@routes.Assets.at("stylesheet/bootstrap.min.css")">

		<script src="@routes.Assets.at("javascript/jquery-1.9.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascript/bootstrap.min.js")" type="text/javascript"></script>
	</head>
	<body>
		<div class="container">
			<h1>Play Bootstrapper</h1>

			@Button.Edit( routes.Application.index() )
		</div>
	</body>
</html>