@( name: String, repository: String, library: String, sample: String, documentation: String )

@import com.taig.tmpltr.markup.a.Target

@p{
	I will list the module's most important features with useful examples below. If you are missing something take a
	look into the @a( documentation, Target.Blank ){ source code } of this documentation page. It's actually a @cite{
	Play } application built with @cite( name ). Also this module is far from being feature complete. So if you find
	yourself adding some utilities please send me a pull request!
}