@( library: String, sample: String )

@import views.usage._

<p>
	Using the <em>Play Bootstrapper</em> module should in general be limited to the
	<a href="@library/app/com/taig/bootstrapper/Template.scala" target="_blank">
	Template</a> file. If you find yourself importing other files into your views you're either extending the module's
	functionality or you are most likely on the wrong track. Therefore importing <code>com.taig.bootstrapper.Template._</code>
	on the top of your view is a good way to get started.
</p>

@ViewStructure

<p>
	For further code examples and insights you may take a look into this
	<a href="@sample">documentation page's source code</a> that comes bundled with the module's source as sample
	application.
</p>