@( name: String, repository: String, library: String, sample: String, documentation: String )

@import com.taig.tmpltr.markup.a.Target

@p{
	I will list the module's most important features with useful examples below. If you are missing something take a
	look into the @a( sample, Target.Blank ){ source code } of this documentation page. It's actually a @cite{ Play }
	application built with @cite( name ). Alternatively you might want to browse the @a( documentation, Target.Blank ){
	@cite{ ScalaDoc } } to get an overview of the available features. Also this module is far from being feature complete.
	So if you find yourself adding some utilities for your project please send me a pull request!
}

@h3{ HTML }
@p{ TODO }

@h3{ Twitter Bootstrap }
@p{ TODO }