@(name: String, repository: String, library: String, sample: String, documentation: String)

@import com.taig.tmpltr.html._
@import com.taig.tmpltr.html.a.Target
@import com.taig.tmpltr.html.button.Type

@a( "#", "class" -> "my classes go here" ){ Hello World! }
@a( "#", Target.Self, "class" -> "my classes go here" ){ Hello Beautiful! }

@p{ This is a paragraph. Let's see how it's going to turn out! }

@p( "class" -> "crazy stuff" ) {
	Of yourse paragraphs can also have classes and shit. And @span{ span } elements are all around the place, too. You
	can @a( "#" ){ nest that shit } as @br() you want to.
}

@canvas(){ Your browser does not support Canvas )-: }

@button(Type.Reset){ Hello Button! }

@input.text( "le_name", None, "le placeholder" )