@( name: String, repository: String, library: String, sample: String, documentation: String )

@import WebJarAssets.locate

@boilerplate {
	@meta( charset = "utf-8" )

	@title( name )

	@link( link.rel.icon, routes.Assets.at( "image/favicon.png" ), "image/png" )

	@link.style( routes.WebJarAssets.at( locate( "bootstrap.min.css" ) ) )
	@link.style( routes.Assets.at( "stylesheet/prettify.css" ) )
	@link.style( routes.Assets.at( "stylesheet/main.css" ) )

	@script.reference( routes.WebJarAssets.at( locate( "jquery.min.js" ) ) )
	@script.reference( routes.WebJarAssets.at( locate( "bootstrap.min.js" ) ) )
	@script.reference( routes.Assets.at( "javascript/prettify.js" ) )
	@script.reference( routes.Assets.at( "javascript/main.js" ) )
} {
	@bs.container {
		@div( "id" -> "title" ) {
			@h1{ @bs.icon( "fire", attributes = "style" -> "margin-top: 18px;" ) @name }
			@div( "id" -> "links" ) {
				@bs.button.a( repository, bs.button.a.target.blank ){ @bs.icon( "globe" ) GitHub }
				@bs.button.a( documentation, bs.button.a.target.blank ){ @bs.icon( "book" ) ScalaDoc }
				@bs.button.a( "mailto:my.taig@gmail.com" ){ @bs.icon( "envelope" ) Contact }
			}
		}

		@bs.lead {
			A module for the @a( "http://www.playframework.com/", a.target.blank ){ @cite { Play Framework 2 } } (Scala)
			that helps keeping your views clean and free from boilerplate code with advanced templating utilities for
			@cite { HTML } and @a( "http://twitter.github.io/bootstrap/", a.target.blank ){ @cite { Twitter Bootstrap } }
			elements.
		}

		@version()

		@section( "id" -> "intro" ) {
			@bs.page_header( 2 ){ Introduction }
			@introduction.index( 3, name, repository, library, sample, documentation )
		}

		@section( "id" -> "getting-started" ) {
			@bs.page_header( 2 ){ Getting Started }
			@installation.index( 3, name, repository, library, sample, documentation )
		}

		@section( "id" -> "usage" ) {
			@bs.page_header( 2 ){ Usage }
			@usage.index( 3, name, repository, library, sample, documentation )
		}

		@section( "id" -> "license" ) {
			@bs.page_header( 2 ){ License }
			@license.index()
		}
	}

	@analytics()
}