@()

@import scala.io.Source

@bs_version() = @{
	val iterator = Source.fromFile( "module/sample/public/stylesheet/bootstrap.min.css" )
			.getLines()
			.map( "\\d(\\.\\d)*".r.findFirstIn _ )
			.flatten

	if( iterator.hasNext )
	{
		iterator.next();
	}
	else
	{
		"[unknown]"
	}
}

@p( "class" -> "text-center" ) { @small {
	Tested with @cite{ Play Framework } @span( "class" -> "version" )( play.core.PlayVersion.current ) and @cite{
	Twitter Bootstrap } @span( "class" -> "version" )( bs_version ).
} }