body {
    padding: 20px;
}

cite {
    letter-spacing: 1px;
    border-bottom: 1px dotted grey;
}
a:hover cite { border: none; }

section {
    margin-top: 60px;
}

p {
    line-height: 26px;
    text-align: justify;
}
p span.version {
    font-family: monospace;
    font-weight: bold;
}

div.container {
    width: 740px;
}

pre.code {
	color: #D1D9E1;
	background-color: #474949;
	line-height: 20px;
	margin-bottom: 24px;
	overflow: auto;
	padding: 12px;
	white-space: pre;
	word-wrap: normal;
}

#title {
    margin-bottom: 16px;
    position: relative;
}

#title h1 {
    display: inline;
}

#links {
    position: absolute;
    right: 0;
    top: 14px;
}