body {
    padding: 20px;
}

cite {
    letter-spacing: 1px;
    border-bottom: 1px dotted grey;
}
a:hover cite { border: none; }

section {
    margin-top: 60px;
}

p {
    line-height: 26px;
    text-align: justify;
}
p span.version {
    font-family: monospace;
    font-weight: bold;
}

div.container {
    width: 740px;
}

pre.code {
	color: #D1D9E1;
	background-color: #474949;
	line-height: 20px;
	margin-bottom: 24px;
	overflow: auto;
	padding: 12px;
	white-space: pre;
	word-wrap: normal;
}

#title {
    margin-bottom: 16px;
    position: relative;
}

#title h1 {
    display: inline;
}

#links {
    position: absolute;
    right: 0;
    top: 14px;
}

.bs-callout {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}
.bs-callout h4 {
	margin-top: 0;
}
.bs-callout p:last-child {
	margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
	background-color: #fff;
}

.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}
.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}
.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}