body {
	width: 100%;
}

body > .container {
	padding-bottom: 20px;
	padding-top: 90px;
}

.container {
	max-width: 740px;
	width: 100%;
}

a[href^="http://"]:not( [href*="taig.github.io/Play-Tmpltr"] ):after {
	color: #3673A8;
	content: "\E164";
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-size: 60%;
	padding-left: 0.4em;
	position: relative;
	top: -0.1em;
}

cite {
	border-bottom: 1px dotted grey;
	letter-spacing: 1px;
}

a:hover cite { border: none; }

section {
	margin-top: 60px;
}

p {
	line-height: 26px;
	text-align: justify;
}

p span.version {
	font-family: monospace;
	font-weight: bold;
}

p code {
	white-space: pre-wrap;
}

#title {
	background: rgba(255, 255, 255, .95);
	border-bottom: 1px solid #D6D6D6;
	height: 70px;
	margin-bottom: 16px;
	position: fixed;
	width: 100%;
	z-index: 100;
}

#title h1 {
	float: left;
	margin: 12px 0 0 0;
}

#links {
	float: right;
	margin-top: 18px;
}

@media all and (max-width: 600px) {
	#links .glyphicon {
		display: none;
	}
}

@media all and (max-width: 530px) {
	#links {
		display: none;
	}
}

.code-example {
	background: url("/asset/image/noise.png") 0 0 repeat #484A4A;
	border: 1px solid #3B3C3C;
	border-radius: 4px;
	box-shadow: 1px 1px 0 #7A7D7D inset;
	margin-bottom: 12px;
}

.code-example .highlight:not( :first-child ) {
	border-top: 1px solid #3B3C3C;
	box-shadow: 1px 1px 0 #7A7D7D inset;
}

.highlight {
	overflow: auto;
	padding: 10px;
}

.highlight * {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.highlight .label {
	color: #7A7D7D;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	position: relative;
	text-transform: uppercase;
	top: -4px
}

pre code {
	color: #D1D9E1;
	line-height: 20px;
	white-space: pre;
	word-wrap: normal;
}

.bs-callout {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #EEEEEE;
}

.bs-callout h4 {
	margin-top: 0;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
	background-color: #FFFFFF;
}

.bs-callout-danger {
	background-color: #FCF2F2;
	border-color: #DFB5B4;
}

.bs-callout-warning {
	background-color: #FEFBED;
	border-color: #F1E7BC;
}

.bs-callout-info {
	background-color: #F0F7FD;
	border-color: #D0E3F0;
}